.subjectCon{
    width: 100%;
    .sideBar{
        z-index: 1000;
        background-color: #fff;
    }
    .subjectContainer{
         width: 100%;
        .profileCont{
            z-index: 0;
                
            
        }
    }
}
