.LoginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    .logincon{
       width: 100%;
       padding: 0 30px;
       align-items: center;
       justify-content: center;
       text-align: center;
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            
            
            input{
                width: 60%;
                height: 50px;
                margin: 10px;
                border: 1px solid transparent;
                border-radius: 8px;
                background-color: #f3f3f4;
                color: black;
                font-size: 18px;
                
            }
            
            button{
                margin-top: 30px;
                width: 200px;
                height: 40px;
                font-weight: bold;
                cursor: pointer;
                border-radius: 8px;
                box-sizing: border-box;
                background-color: #ea4c89;
                border: none;
                color: #fff;
                transition: 0.3s;
            }
            button:hover{
                background-color: #f081ab;
            }
            
            span{
                color: #e90606;
            }
        }
        h2{
            margin-bottom: 30px;
            font-family: 'Roboto', sans-serif;
        }
        
        p{
            margin-top: 40px;
            color: blue;
            cursor: pointer;
            a:hover{
                color: #ea4c89;
            }
        }
        
    }
    }