.navBar{
    height: 50px;
    border-bottom: 0.5px solid rgb(224, 224, 224);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    
    
   
    .wrapper{
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        
        .search{
            display: flex;
            justify-content: center;
            border: 0.5px solid lightgray;
            padding: 3px;

            input{
                border: none;
                outline: none;
                background-color: transparent;

                &::placeholder{
                    font-size: 12px;
                }
            }
        }
        .items{
            display: flex;
            align-items: center;
            

            .item{
                display: flex;
                align-items: center;
                margin: 20px;
                cursor: pointer;
                

                .icon{
                    font-size: 20px;
                }

                .avatar{
                    width: 30px;
                    height: 30px;
                    background-color:#6439ff;
                }
            }
        }
    }

    .notification-container {
        position: fixed;
        top: 3rem;
        right: 7rem;
        z-index: 9999;
        color: #ffffff;
        background-color: #888;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
      
        
        .notificationItem{
            
            border-bottom: 1px solid #626262;
            font-size: 1rem;
            transition: 1s;
            cursor: pointer;

            :hover{
                background-color: #6a6969a5;
            }
            p{
                padding: 0.5rem;
            }

            
        }
      }
      
      .notification-icon {
        color: #ffffff;
      }
}

@media (max-width: 800px) {
    .navBar{
        font-size: 12px;
        width: 100%;
        .wrapper{
            width: 100%;
            padding: 10px;
            display: flex;
            justify-content: flex-end;
            
            .search{
                display: none;
            }
            .items{
                
                
                
            }
        }
    }
}