// resultComponent.scss

.result-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
  
    &__score {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 16px;
      .green{
        color: green;
      }
      .red{
        color: red;
      }
    }
  
    &__progress {
      width: 100%;
      max-width: 400px;
      color: red;
    }
  
    &__answers {
      margin-top: 16px;
      font-size: 16px;
      p {
        margin-bottom: 8px;
      }
    }
    .details{
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .backButton{
        padding: 1rem;
        border: none;
        font-size: 2rem;
        &:hover{
          background-color: rgba(224, 177, 177, 0.267);
        }
    }
  }
  