.yearCont{
    width: 100%;
    
    
    .title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #888;
    }

    .addSessButton{
        width: 100%;
        display: flex;
        margin-bottom: 10px;
        margin-right: 20px;
        padding: 10px 0px 10px 0px ;

        .dbutton{
            margin-left: auto;
            background-color: rgba(98, 39, 176, 0.643);
            
            @media (max-width: 800px) {
                margin-left: 0;
            }
        }
        
        
        
    }
}

.navbar{
    position: sticky;
    top: 0;
    background-color: #fffffff5;
    z-index: 200;
}